:root{
    --Play:"Playfair Display", serif;
    --BIZ:"BIZ UDMincho", serif;
    --color_1:rgb(201, 215, 192);
    --color_2:rgb(32, 178, 170);
    --color_3:rgb(204, 165, 104);
}
body{
    max-width: 100%;
    height: auto;
    background-color: rgb(200, 245, 230);
}
a{
    text-decoration:none;
    font-size: 26px;
}
.header{
    font-family: var(--Play);
    width: 100%;
    margin: 0, auto;
    background:var(--color_1);
    border-radius: 4px;
}
.wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
}
.logo>img{
    width: 140px;
    padding: 3px;
}
.nav{
display: flex;
gap: 30px;
}
.nav>a{
    color: rgb(19, 53, 21);
    font-weight: 500;
}
.tel_mobile{
    color: rgb(53, 27, 27);
    font-weight: 600;
}
.box{
   
    background-color: var(--color_3);

}
.tema{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: 250px;
    gap: 15px;
}
.h_t{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
  font-size: 35px;
}
.img_t{
    grid-column-start: 1;
    grid-column-end:3;
    grid-row-start: 2;
    grid-row-end: 5;
   
    width: 100%;
    height: 100%;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}
.p_t{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    font-size: 20px;
}
.tema_tt{
    display: block;
    width: 100%;
    border-radius: 15px; 
}
.tema.one{
    background-color:var(--color_2);
}