:root{
    --color_background: rgb(35, 46, 38);
    --color_fon: rgb(217,239,222);
}


body{
    background-color: var(--color_background);
}

.header{
max-width: 100%;
height: 90px;
padding-top: 4px;
background-color: var(--color_fon);
border-radius: 0 0 30px 30px;
box-shadow: 2px 5px rgb(228, 228, 145);
}
.container{
    display: flex;
    gap: 30px;
    
}
.logo{
    display: block;
    width: 110px;
    height: 56px;
    background-image: url(../img/1781611.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 8px;
}
.nav{
    display: flex;
    gap: 25px;
}
.nav_link{
    display: block;
    text-decoration: none;
    font-size: 28px;
    gap: 9px;
}
.header_tel>a{
    text-decoration: none;
    font-size: 30px;
}